// 引入定义变量scss文件
@import 'custom_theme_variables.scss';

.dark-mode {
  img.auto-reverse {
    filter: brightness(1000%);
  }
  .auto-dialog {
    background-color: $dark-dialog-color;

    > .nut-dialog {
      > .nut-dialog__content {
        max-height: unset;
      }
      > .nut-dialog__header {
        color: $dark-primary-text-color;
        font-weight: bold;
      }
      .nut-button--plain {
        background: $dark-dialog-color;
      }
    }
  }
}

.light-mode {
  img.auto-reverse {
    filter: brightness(0);
  }
  .auto-dialog {
    background-color: $light-dialog-color;

    > .nut-dialog {
      > .nut-dialog__content {
        max-height: unset;
      }
      > .nut-dialog__header {
        color: $light-primary-text-color;
        font-weight: bold;
      }

      .nut-button--plain {
        background: $light-dialog-color;
      }
    }
  }
}
