body {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  min-height: 100% !important;
}

a {
  color: inherit;
  text-decoration: none;
}

textarea,
input,
button {
  font-family: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
  padding-inline-start: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  pointer-events: none;
}
